version: "3.9"

services:

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: notifyhub
      MYSQL_USER: nh_user
      MYSQL_PASSWORD: nh_pass
    volumes:
      - ./mysql/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    ports:
      - "3307:3306"
    networks:
      - notifyhub-net

  rabbitmq:
    image: rabbitmq:3-management
    container_name: notifyhub-rabbit
    environment:
      RABBITMQ_DEFAULT_USER: rmq_user
      RABBITMQ_DEFAULT_PASS: rmq_pass
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - notifyhub-net

  api1:
    build: ./api
    environment:
      INSTANCE_ID: api-1
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_USER: rmq_user
      RABBITMQ_PASS: rmq_pass
      MYSQL_HOST: mysql
      MYSQL_DB: notifyhub
      MYSQL_USER: nh_user
      MYSQL_PASS: nh_pass
    depends_on:
      - rabbitmq
      - mysql
    networks:
      - notifyhub-net

  api2:
    build: ./api
    environment:
      INSTANCE_ID: api-2
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_USER: rmq_user
      RABBITMQ_PASS: rmq_pass
      MYSQL_HOST: mysql
      MYSQL_DB: notifyhub
      MYSQL_USER: nh_user
      MYSQL_PASS: nh_pass
    depends_on:
      - rabbitmq
      - mysql
    networks:
      - notifyhub-net

  api3:
    build: ./api
    environment:
      INSTANCE_ID: api-3
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_USER: rmq_user
      RABBITMQ_PASS: rmq_pass
      MYSQL_HOST: mysql
      MYSQL_DB: notifyhub
      MYSQL_USER: nh_user
      MYSQL_PASS: nh_pass
    depends_on:
      - rabbitmq
      - mysql
    networks:
      - notifyhub-net

  worker:
    build: ./worker
    environment:
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_USER: rmq_user
      RABBITMQ_PASS: rmq_pass
      MYSQL_HOST: mysql
      MYSQL_USER: nh_user
      MYSQL_PASS: nh_pass
      MYSQL_DB: notifyhub
    depends_on:
      - rabbitmq
      - mysql
    networks:
      - notifyhub-net

  nginx:
    image: nginx:stable
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "8080:80"
    depends_on:
      - api1
      - api2
      - api3
    networks:
      - notifyhub-net

networks:
  notifyhub-net:
    driver: bridge